[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
flask = "*"
marshmallow = "*"
diffusers = "*"
transformers = "*"
accelerate = "*"
peft = "*"
gradio = "==3.50.2"
torch = {version = "==2.0.1", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
